<div class="emploee_list box">
    <div class="emploee_list_grid" style="font-family: 'Droid Sans Fallback'">
        <div class="emploee_list__element__column emploee_list__element__left emploee_list__element__header">ID</div>
        <div class="emploee_list__element__column emploee_list__element__center emploee_list__element__header">ФИО</div>
        <div class="emploee_list__element__column emploee_list__element__center emploee_list__element__header"></div>
        <div class="emploee_list__element__column emploee_list__element__center emploee_list__element__header"></div>
        <div class="emploee_list__element__column emploee_list__element__right emploee_list__element__header"></div>
    </div>
</div>
