<div class="request_list box">
    <div class="request_list_grid" style="font-family: 'Droid Sans Fallback'">
        <div class="request_list__element__column request_list__element__left request_list__element__header">ID</div>
        <div class="request_list__element__column request_list__element__center request_list__element__header">Адрес</div>
        <div class="request_list__element__column request_list__element__center request_list__element__header"><div class="request_list__element__column__left_child">Тип</div><div class="request_list__element__column__right_child" id="weight_sum">0/300</div></div>
        <div class="request_list__element__column request_list__element__center request_list__element__header"></div>
        <div class="request_list__element__column request_list__element__right request_list__element__header"></div>
    </div>
</div>
