<div class="emploee_list__element emploee_list_grid" style="font-family: 'Droid Sans Fallback'">
  <div class="emploee_list__element__column emploee_list__element__left">{{ID}}</div>
  <div class="emploee_list__element__column emploee_list__element__center">{{Name}}</div>
  <div class="emploee_list__element__column emploee_list__element__center">
    <div class="emploee_list__element__button" title="Редактировать">
      <svg>
        <use xlink:href="/icons.svg#edit_pen"></use>
      </svg>
    </div>
  </div>
  <div class="emploee_list__element__column emploee_list__element__center">
    <div class="emploee_list__element__button" title="Удалить">
        <svg>
          <use xlink:href="/icons.svg#trash_bin"></use>
        </svg>
      </div>
  </div>
  <div class="emploee_list__element__column emploee_list__element__button emploee_list__element__right" style="font-family: 'Droid Sans Fallback'">
    Заявки
  </div>
</div>
